services:
  postgres:
    image: postgres:16-alpine
    container_name: borc-savas-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: borc_savas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: borc-savas-api
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      PORT: 3000
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/borc_savas?schema=public
    ports:
      - '3000:3000'

volumes:
  postgres_data:
